* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #E8E9EF;
  padding: 0 16px;
  text-align: center;
}
h3 {
  color: #475472;
}
header {
  background-color: #475472;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}


footer {
  text-align: center;
  width: 100%;
  height: 2.5rem;
  position: absolute;
  bottom: 0;
}

footer p {
  color: #ccc;
}



form {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 0.8em;
  font-family: inherit;
  resize: none;
}

form .delete {
  right: 5px;
}

form .expand {
  left: 5px;
}

form button {
  color: #E2E4EF;
  position: absolute;
  top: 1px;
  border: none;
  background-color: transparent;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}


.buttonContainer {
  display: inline-block;
}
